<div class="center jumbotron">

	<h1 class="mainlogo">[LOGO GOES HERE]</h1>

	<%= link_to "Register", register_path, class: "btn btn-large btn-default" %>
	<%= link_to "Log in", login_path, class: "btn btn-large btn-default" %>
	<%= link_to "About", about_path, class: "btn btn-large btn-default" %>

</div>